
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ConsultantLayout.cshtml";
}

<h2>Welcome to Consultant Panel</h2>
<div style="margin-top:75px"></div>
<a href="/Consultant/SeeCustomers/" class="btn btn-info">See Customers</a>

<div style="margin-top:125px"></div>
<a href="/Consultant/SeeCashTransactions/" class="btn btn-info">See Cash Transactions</a>
